<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael hartl 
    created by <%= link_to "Sam Lee", 
    'mailto:logos50907@gmail.com?Subject=Ruby%20on%20Rails%20Tutorial%20-%20Sample%20App' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>